
body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Cairo', sans-serif;
	list-style: none;
}


/* header nav */
#header-nav {
/*	background-color: #f6b319;*/
	background-color: #fdf2ce;
	background-image: linear-gradient(to left, #f6b319, #fdf2ce, #fdf2ce, #f6b319);
	border-radius: 0;
	border: 0;
	flex-flow: column;
}

.navbar-nav {
	margin: auto;
	z-index: 0;
}

.navbar-nav > ul {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

#logo-img {
	background: url('../img/logo.png') center no-repeat;
	width: 150px;
	height: 150px;
	/*margin: 10px 15px 10px 0;*/
	/*margin-left: 20vw;*/

}

.logo-image {
	margin-right: 12px;

}

.navbar-brand {
/*	padding-top: 40px;*/
	position: relative;
	z-index: 1;
}

.nav-item {
/*	margin-left: 6vw;
	margin-right: 35vw;*/
	list-style: none;
}

#nav-list li a:hover {
	background: #fff;
}

.navbar-brand h1 {
	color: #557c3e;
	font-size: 2.5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-brand p {
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 25px;
	vertical-align: middle;
}

.navbar-brand span {
	vertical-align: middle;
}

#nav-list {
/*	margin-left: 30px;*/
}

#nav-list a {
	color: #61122f;
	text-align: center;

}

#nav-list a:hover {
	background: #fdf2ce;
}

.phone {
	font-size: 92%;
}

.navbar-toggler {
	font-size: 2em;
	margin-right: auto;
	left: 20px;
}

#navbarSupportedContent {
	flex-basis: auto;
	flex-wrap: wrap;
	margin: auto;
}

.jumbotronn {
	width: 90%;
	margin: auto;
	padding: 0;
    margin-top: 40px;
    padding-bottom: 0;
    border-radius: 10px;
/*    box-shadow: 2px 2px 10px 0px darkslategrey;*/
}

#video-background {
	margin-bottom: -6px;
    width: 100%;
    border-radius: 10px;
}


.tiles {
	justify-content: space-around;
	width: 93%;
	align-items: center;
	margin: auto;

}

.sand, .mak, .haw {
	height: 250px;
	width: 100%;
	position: relative;
	margin-bottom: 15px;
	border: 2px solid grey;
	margin-top: 15px;
	overflow: hidden;
/*	margin-right: 5px;*/
	border-radius: 5px;
}

.sand {
	background: url("../img/kebdasandwich.jpg") no-repeat;
	background-position: center;
	object-fit: contain;
}

.haw {
	background: url("../img/hawawshi.jpg") no-repeat;
	background-position: center;
}

.mak {
	background: url("../img/doubleburger.jpg") no-repeat;
	background-position: center;
}

.tiles span, .gmap span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: black;
	opacity: 0.8;
	text-align: center;
	font-weight: bold;
	height: 20%;
	color: white;
	font-size: 1.5em;
}

.mak:hover, .haw:hover, .sand:hover {
	box-shadow: 0 2px 5px 5px white;
}

.map {
	justify-content: center;
}
.gmap {
	position: relative;
	width: 90%;
	margin: auto;
	padding: 0;
	/*height: 250px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin-right: 15px;
	margin-left: 15px;
	width: auto;
	margin-bottom: 15px;*/
}

.map a {
/*	position: relative;*/
}

iframe {
	height: 250px;
	width: 100%;
/*	width: 95vw;*/
/*	
	width: 100%;
	margin-right: 15px;
	margin-left: 15px;*/
}


.panel-footer {
	margin-top: 25px;
	padding-top: 25px;
	padding-bottom: 20px;
	background-color: #222;
	direction: rtl;
	text-align: center;
	font-size: .8rem;
}


.panel-footer .row span {
	clear: both;
	top: 0;
	right: 0;
	font-weight: bold;
	font-size: 1rem;
}

#address p {
	color: green;
	font-style: italic;
	font-size: .7rem;
}

#testemonials {
	font-style: italic;
}
@media (max-width: 992px) {

}

@media (max-width: 856px){

}

@media (max-width: 780px) {

}

@media (max-width: 690px){

}

@media (max-width: 576px) {
	#navbarSupportedContent {
		margin-top: -80px;
	}
	.navbar-brand {
		font-size: 1em;
	}
	#logo-img {
		background-size: contain;
		width: 100px;
	}
}

@media (min-width: 576px) {
	#navbarSupportedContent {
		direction: rtl;
	}
}